
[Unit]
Description=start shell script
StartLimitIntervalSec=0

[Service]
ExecStart=@@START_CMD@@
Restart=always
RestartSec=5
WorkingDirectory=@@WORKING_DIR@@

[Install]
WantedBy=multi-user.target